.standard-post {
    position: relative;
    min-height: 1px;
    overflow: hidden;
    width: 100%;
    height:413px;
}

.standard-post h3 {
    position: absolute;
    top: 58%;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
    font-size: 18px;
    z-index: 3;
}

@media all and (max-width: 767px) {
    .standard-post {
        margin-bottom: 14px;
    }
}

.standard-post__photo {
    height: 203px;
    overflow: hidden;
    position: relative;
}

.standard-post__photo img {
    width: 100%;
    height: auto;
}

.standard-post__photo:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

@media all and (max-width: 991px) {
    .standard-post__photo img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -180px;
        width: auto;
        height: auto;
        z-index: 1;
    }
}

@media all and (max-width: 767px) {
    .standard-post__photo img {
        width: 100%;
        margin: 0;
        left: 0;
        top: -25%;
    }
}

.standard-post__content {
    padding: 18px 18px 40px;
    float: left;
    width: 100%;
    height: 185px;
}

.standard-post__content .content-inner {
    max-height: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.standard-post__content p {
    color: #9b9b9b;
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 0;
    white-space: pre-wrap;
}

.standard-post__content a {
    color: #006ab6;
    font-size: 15px;
    float: right;
    padding-right: 30px;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.standard-post__content a:before {
    display: block;
    content: '';
    width: 21px;
    height: 21px;
    position: absolute;
    top: 2px;
    right: -2px;
    /* background: url(../images/icon-more.png) no-repeat; */
}

.standard-post__content .content-summary {
    font-style: italic;
    font-size: 12px;
    color: #c9c9c9;
}

.tile-header {
    font-size: 26px;
    color: #b12029;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

@media all and (max-width: 991px) {
    .standard-post__content {
        line-height: 1.95em;
    }
}

@media all and (max-width: 767px) {}

.standard-post {
    margin-bottom: 30px;
}

.standard-post {
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.standard-post:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}