@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import "mixins/breakpoints";

$screen-xs: 0;
$screen-sm: 680px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// set Bootstrap navbar collapse breakpoint
$grid-float-breakpoint: $screen-lg;

@import "bootstrap-sass/assets/stylesheets/bootstrap";

.container {
	@media (min-width: $screen-sm) {
		width: auto;
	}
	@media (min-width: $screen-md) {
		width: auto;
	}
	@media (min-width: $screen-lg) {
		width: $container-md;
	}
	@media (min-width: $screen-xl) {
		width: $container-lg;
	}
}
