<section class="bio">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 bio-photo">
                <% if(profile.profile_photo) { %>
                    <img src="<%= profile.profile_photo %>" alt="Photo">
                <% } %>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                <div class="bio__content">
                    <h1 itemprop="name"><%= profile.first_name %> <%= profile.last_name %><% if(profile.designations) { %>, <span class="title"><%= profile.designations %></span><% } %></h1>
                    <div class="subtitle"><%= profile.title %></div>
                    <% if(profile.networks) { %>
                    <div class="social-assets">
                            <% if(profile.networks.twitter_url) { %>
                                <a href="<%= profile.networks.twitter_url %>" target="_blank">
                                    <i class="fa fa-twitter-square fa-2x"></i>
                                </a>
                            <% } %>
                            <% if(profile.networks.facebook_url) { %>
                                <a href="<%= profile.networks.facebook_url %>" target="_blank">
                                    <i class="fa fa-facebook-square fa-2x"></i>
                                </a>
                            <% } %>
                            <% if(profile.networks.linkedin_url) { %>
                                <a href="<%= profile.networks.linkedin_url %>" target="_blank">
                                    <i class="fa fa-linkedin-square fa-2x"></i>
                                </a>
                            <% } %>
                            <% if(profile.networks.googleplus_url) { %>
                                <a href="<%= profile.networks.googleplus_url %>" target="_blank">
                                    <i class="fa fa-google-plus-square fa-2x"></i>
                                </a>
                            <% } %>
                        </div>
                        <% } %>
                    <div class="mobile-buttons">
                      <a class="bg-color-accent" href="tel:<%= profile.phones.phone_link_formatted %>"><%= profile.phones.phone %></a>
                      <a class="bg-color-accent" href="mailto:<%= profile.email %>">Email Me</a>
                    </div>
                    <dl class="info-list desktop-contact">
                        <dt>Phone:</dt>
                        <dd><a itemprop="telephone" class="contact-link color-accent" href="tel:<%= profile.phones.phone_link_formatted %>"><%= profile.phones.phone %></a></dd>
                        <dt>Email:</dt>
                        <dd><a class="contact-link color-accent" href="mailto:<%= profile.email %>"><%= profile.email %></a></dd>
                    </dl>
                    <dl class="info-list agent-details">
                        <% if(profile.an_languages) { %>
                            <dt>I speak:</dt>
                            <dd><%= profile.an_languages.join(", ") %></dd>
                        <% } %>
                        <dt>Licensed In:</dt>
                        <dd><%= profile.states_licensing.join(", ") %></dd>
                    </dl>
                    <p class="agent-intro"><%= profile.agent_intro %></p>
                    <% if(profile.awards_honors) { %>
                        <span class="awards-honors">Awards &amp; Honors: </span> <%= profile.awards_honors %>
                    <% } %>
                </div><!-- /bio-content-->
            </div><!-- /col-lg-12 -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>
