<header>
    <div class="top-bar bg-color-accent">
        <div class="container">
            <nav class="secondary-nav">
                <ul>
                    <li>
                        <a href="<%= base_link %>" target="_blank">Corporate</a>
                    </li>
                    <li>
                        <a href="<%= base_link %>" target="_blank">Careers</a>
                    </li>
                    <li>
                        <a href="<%= base_link %>#contact-container">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="bottom-bar" id="navigation">
        <div class="container">
            <div class="logo">
                <a href="<%= base_link %>"><img src="<%= theme_data.logo_header %>" alt="American National">
                </a>
            </div>
            <a href="#" class="mobile-menu-button visible-xs visible-sm">Menu</a>
            <nav id="main-nav">
                <ul>
                    <li>
                        <a class="color-accent" href="<%= base_link %>who-we-are">Who We Are</a>
                    </li>
                    <li>
                        <a class="color-accent" href="<%= base_link %>what-we-do">What We Do</a>
                    </li>
                    <li>
                        <a class="color-accent" href="<%= base_link %>whats-happening">What's Happening</a>
                    </li>
                    <li>
                        <a href="<%= base_link %>" target="_blank"><div class="bg-color-accent">Customer Login</div></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="nextElementFix"></div>
</header>