<header>
    <div class="top-bar bg-color-accent">
        <div class="container">
            <nav class="secondary-nav">
                <ul>
                    <li>
                        <a href="<%= baseLink %>" target="_blank">Corporate</a>
                    </li>
                    <li>
                        <a href="<%=baseLink %>" target="_blank">Careers</a>
                    </li>
                    <li>
                        <a href="<%=baseLink %>#contact-container">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="bottom-bar" id="navigation">
        <div class="container">
            <div class="logo">
                <a href="<%=baseLink %>"><img src="<%= logo %>" alt="American National">
                </a>
            </div>
            <a href="#" class="mobile-menu-button visible-xs visible-sm">Menu</a>
            <nav id="main-nav">
                <ul>
                    <li>
                        <a class="color-accent" href="<%= baseLink %>who-we-are">Who We Are</a>
                    </li>
                    <li>
                        <a class="color-accent" href="<%= baseLink %>what-we-do">What We Do</a>
                    </li>
                    <li>
                        <a class="color-accent" href="<%= baseLink %>whats-happening">What's Happening</a>
                    </li>
                    <li>
                        <a href="<%= baseLink %>" target="_blank"><div class="bg-color-accent">Customer Login</div></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="nextElementFix"></div>
</header>