@import "mixins/breakpoints";

$blue: #3586a1;
$logo-height: 52px;

#navigation {

	.top-header {
		background-color: $blue;
		font-family: 'Open Sans', sans-serif;
		ul {
			margin-bottom: 0;
			li a {
				margin-left: 20px;
				font-size: 12px;
				line-height: 40px;
				color: #fff;
				text-decoration: none;
			}
		}
	}


	.navigation {
		font-size: 16px;
		background-color: #fff;
		padding: 18px 0;
		border-bottom: 1px solid #0069b5;

		@include media-down(md) {
			margin-top: 0;
			padding: 0;
			border: 1px solid #0069b5;
		}
		.navbar-brand {
    		padding: 0 15px;
			
			img {
				height: $logo-height;
				@include media-down(md) {
					height: 42px;
					margin: 24px 0;
				}
				@include media-down(xs) {
				    height: 38px;
    				margin: 12px 0;
				}
			}
		}
		.navbar-nav{
			@include media-down(md) {
				margin-top: 30px;
				margin-bottom: 30px;
			}

			@include media-down(xs) {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			li {
				a {
					margin: 0 29px 0 0;
    				padding: 0;
					color: $blue;
					line-height: 40px;
					text-align: right;
					font-size: 18px;

					&:hover, &:focus {
						background-color: transparent;
					}

					@include media-up(lg) {
						font-size: 16px;
				    	margin: 0 34px;
						line-height: $logo-height;
						text-align: center;

						&.contact-button {
							margin-right: 0;
							min-width: 154px;
							background-color: $blue;
							text-transform: uppercase;
							border-radius: 2px;
							color: #fff;
						}
					}
				}
			}
		}
		@include media-down(md) {
			.navbar-collapse {
				position: absolute;
				right: 15px;
				box-shadow: -11px 12px 4px 0 rgba(0, 0, 0, 0.5);
				z-index: 10;
				background-color: #f7f7f7;
				box-shadow: -11px 12px 4px 0 rgba(0, 0, 0, 0.5);
				border: solid 1px #979797;
				width: 143px;
			}
		}
		.navbar-toggle {
			font-size: 23px;
			line-height: 28px;
			padding: 30px 0;
			width: 90px;
			color: #d63b52;
			border-left: solid 1px #979797;
			margin: 0;
			border-radius: 0;
			&:focus {
				background-color: #971e23;
				color: #fff;
			}

			@include media-down(xs) {
				width: 60px;
				padding: 15px 0;
				font-size: 18px;
			}
		}
	}

}
