@import "mixins/breakpoints";

#navigation {

	.top-header {
		background-color: #3586a1;
		font-family: 'Open Sans', sans-serif;
		padding: 12px;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				margin-left: 31px;
				a {
					font-size: 12px;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	.navigation {
		font-size: 16px;
		background-color: #fff;
		@include media-down(md) {
			margin-top: 0;
		}
		.navbar-brand {
			img {
				width: 283px;
				@include media-down(md) {
					width: 244px;
				}
				@include media-down(sm) {
					width: 140px;
				}
			}
		}
		.navbar-nav{
			@include media-down(sm) {
				padding: 40px 30px; 
				text-align: right;
			}
			li {
				padding: 24px 0 31px 50px;
				&:last-child {
					background-color: #3586a1;
					padding: 0;
					text-transform: uppercase;
					border-radius: 2px;
					margin: 18px 0 18px 50px;
					line-height: 1.0;
					a {
						padding: 5px 32px;
						color: #fff;
					}
				}
				@include media-down(sm) {
					margin-bottom: 24px;
				}
				a {
					padding: 5px;
					color: #3586a1;
					&:hover, &:focus {
						background-color: transparent;
					}
				}
			}
		}
		@include media-down(sm) {
			.navbar-collapse {
				position: absolute;
				right: 15px;
				box-shadow: -11px 12px 4px 0 rgba(0, 0, 0, 0.5);
				z-index: 10;
				background-color: #f7f7f7;
				box-shadow: -11px 12px 4px 0 rgba(0, 0, 0, 0.5);
				border: solid 1px #979797;
			}
		}
		.navbar-toggle {
			font-size: 23px;
			padding: 30px 18px;
			color: #d63b52;
			border: solid 1px #979797;
			margin: 0;
			border-radius: 0;
			&:focus {
				background-color: #971e23;
				color: #fff;
			}
		}
	}

}
