<div class="container">

    <!-- Agent name for mobile -->
    <div class="visible-xs">
        <h1><%- profile.first_name + profile.last_name %></h1>
        <div>
            <span class="agent-name"><%- profile.title + profile.designations %></span>
            <span class="social-icons">
                <a href="<%- profile.twitter %>">
                    <img src="/images/twitter.png">
                </a>
                <a href="<%- profile.linkedin %>">
                    <img src="/images/linkedin.png">
                </a>
                <a href="<%- profile.facebook %>">
                    <img src="/images/facebook.png">
                </a>
                <a href="<%- profile.googleplus %>">
                    <img src="/images/google.png">
                </a>
            </span>
        </div>
    </div>
    <!-- End -->


    <div class="row">
    <!-- Profile image -->
        <div class="col-md-4 col-sm-3 col-xs-12 profile-image">
            <div class="clearfix">
                <div class="col-xs-5 col-sm-12 col-md-12">
                    <img class="profile-photo" src="<%- profile.profile_photo %>">
                </div>

                <div class="button-group visible-xs col-xs-7">
                    <a href="#" class="btn white-btn">Get a quote</a>
                    <a href="#" class="btn white-btn">My account</a>
                    <a href="#" class="btn white-btn">Pay Now</a>
                </div>
            </div>
        </div>

    <!-- Profile information -->
        <div class="col-md-8 col-sm-9 col-xs-12">
            <div class="hidden-xs">
                <h1><%- profile.first_name + profile.last_name %></h1>
                <div>
                    <span class="agent-name"><%- profile.title + profile.designations %></span>
                    <span class="social-icons">
                        <a href="<%- profile.twitter %>">
                            <img src="/images/twitter.png">
                        </a>
                        <a href="<%- profile.twitter %>">
                            <img src="/images/linkedin.png">
                        </a>
                        <a href="<%- profile.twitter %>">
                            <img src="/images/facebook.png">
                        </a>
                        <a href="<%- profile.twitter %>">
                            <img src="/images/google.png">
                        </a>
                    </span>
                </div>
            </div>
            <div class="summarry"><%- profile.professional_summary %></div>

            <div class="button-group hidden-xs">
                <a href="#" class="btn white-btn">Get a quote</a>
                <a href="#" class="btn white-btn">My account</a>
                <a href="#" class="btn white-btn">Pay Now</a>
            </div>
        </div>
    </div>
</div>
