@import "mixins/breakpoints";

#profile {
	background-image: url(/images/portfolio-bg.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;

	@include media-down(md) {
		background-position: top;
		padding: 70px 0;
	}
	@include media-down(sm) {
		padding: 20px 0;
	}

	h1 {
		font-size: 50px;
		margin-top: 35px;
		margin-bottom: 14px;

		@include media-down(md) {
			margin: 5px 0;
		}

		@include media-down(sm) {
			font-size: 30px;
		}
	}

	.profile-image {
		@include media-down(sm) {
			margin: 20px 0;
			padding-right: 0;
		}
		
		.col-sm-12 {
			padding: 0;
		}
	}
	.profile-photo {
		border: solid 5px #ffffff;
		max-width: 100%;
		@include media-down(sm) {
			width: 100%;
			border-width: 3px;
    		// height: 165px;
    	}
	}

	.agent-name {
		font-size: 24px;
		margin-right: 40px;
		line-height: 30px;
		vertical-align: middle;

		@include media-down(sm) {
			font-size: 16px;
			margin-right: 15px;
		}
	}
	.social-icons {
		margin-top: 5px;
		display: inline-block;
		a {
			margin-right: 10px
		}
	}
	.summarry {
		font-size: 18px;
		margin-top: 26px;
		margin-bottom: 35px;
		line-height: 1.9;
		@include media-down(xs) {
			margin-top: 0;
		}
		@include media-down(sm) {
			font-size: 16px;
		}
	}


	/* buttons */
	a.white-btn {
		border-radius: 2px;
		border: solid 1px #979797;
		background-color: transparent;
		padding: 18px 32px;
		text-transform: uppercase;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.1;
		transition: background-color 0.4s ease-in, color 0.3s ease-in;
		&:hover, &:focus {
			background-color: #fff;
			color: #3586a1;
		}

		@include media-down(md) {
			padding: 16px 25px;
		}
		@include media-down(xs) {
			width: 160px;
			margin-bottom: 13px;
			font-size: 13px;
		}
	}

	.button-group {
		a {
			margin-right: 28px;
			
			@include media-down(md) {
				margin-right: 20px;
			}
			@include media-down(xs) {
				margin-right: 0;
				display: block;
				width: 100%;
			}
		}
	}

}
